<%= form_with(model: lecture) do |form| %>
  <% if lecture.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(lecture.errors.count, "error") %> prohibited this lecture from being saved:</h2>

      <ul>
        <% lecture.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label "Início" %>
    <%= form.time_field :start_at %>
  </div>

  <div class="field">
    <%= form.label 'Palestra' %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label 'Duração' %>
    <%= form.number_field :duration %>
  </div>

  <div class="field">
    <%= form.label 'Palestrante' %>
    <%= form.text_field :lecturer %>
  </div>

  <div class="actions">
    <%= form.submit 'Salvar Palestra' %>
  </div>
<% end %>
